/*Container Patterns*/
.logo {
  width:150px;
  vertical-align:middle;
}
.body-panel {
  max-width: 60%;
  margin: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#title{
  width:50%;
  margin:auto;
  vertical-align: center;
  color:white;
  font-size:3.5em;
}
#authors {
  font-size:1.5em;
}
#right_div{
  background-color: rgb(148, 107, 45);
  margin: 0 20px;
    padding: 10px;
    font-size: 1.45em;
    font-family: 'Dancing Script', cursive;
    width: 40%;
    font-weight: 500;
    border-radius: 15px;
    border: 5px solid black;
    text-align: center;
}
#left_in_top_div{
  float: top;
  width: 100%;
}
#sum_div{
  width: 100%;
}
#left_div{
  background-color:rgb(148, 107, 45);
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    /*float: left;*/ 
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
}
#container{
    position: relative;
    width: 100%;
}
#question{
  text-align: center;
  color: white;
}
#multipleChoice {
  text-align: left;
}
#multipleChoice input {
  color:white;
}

/* controls */
button {
  border-radius: 30px;
}
button:hover {
  cursor: pointer;
}
button:focus {
  border-color: rgb(25, 245, 5);
}

/* nav style */
.navbar {
    color: #fff;
    background-color: #946B2D;
    min-height: 50px;
    height:15%;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto;
    }
  .nav_item{
    font-family: 'Dancing Script', cursive;
    color: #0e1a40;
    font-size: 30px;
    text-align: center;
    border-radius:1px;
  }
  .nav_item:hover h4{ /* test h4*/
    color: #0e1a40;
    border:2px solid #0e1a40;
    border-radius:25px;
    box-shadow: -.6px -.6px 1px black;
  }
  .navbar-wrapper {
      position: relative;
      height: 100%;
  }

/*Header & Footer Place Holder*/
header{
    background-color: #222F5b;
    color: #946B2D;
    height: 40px;  
}
#footer{
    text-align:center;
    float: right;
    position: relative;
    bottom: 0;
    width: 100%;        
}

/*Table Style Sheet*/
table{
    margin:auto;
    border-radius: 15px;
    border-width: 3px;
    background-color: #5d5d5d;
}
tbody {
  margin:auto;
}

#quest_cards {
  background-color: rgba(148, 107, 45, .0);
}
#quest_cards th{
  padding: 10px;
  width:50%;
  text-align: center;
  border: solid rgb(90, 65, 26);
  border-width: 3px;
  border-radius: 30px;
  cursor: pointer;
}
#quest_cards th:hover {
  background-color: rgba(148, 107, 45, .7);
  color:white;
  border-color:black;
  -webkit-box-shadow: -1px -1px 2px rgba('0, 0, 0, .4');
        box-shadow: 2px 2px 2px rgba('0, 0, 0, .4');
}

.center_content {
  display:flex;
  justify-content: center;
}
  /*HTML & BODY Text Formatting*/
html {
  background-color:#5d5d5d;
}
html,body{
  font-family: 'Dancing Script', cursive;
  font-size:15px;
  line-height:1.5
}


h1{
  font-size:36px;
  color: white;
  font-family: 'Dancing Script', cursive;
  text-align: center;

  text-shadow: 3px 3px 2px rgb(30, 30, 30);
}
h2{
  font-size:30px;
  color: white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
h3{
  font-size:24px;
  color:  white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
h4{
  font-size:20px;
  color:  white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
h5{
  font-size:18px;
  color:  white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
h6{
  font-size:16px;
  color:  white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}  


#left_in_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#left_in_div div {
  width: 5px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 15px;
  flex: 0 0 40%;
}
#left_in_div div:hover {
  border: 1px solid white;
  background-color: #222F5b;
  color: white;
  cursor: pointer;
}

/* Media */
@media only screen and ( max-width: 700px) {
  #left_in_div {
    flex-wrap: nowrap;
  }
  #left_in_div div {
    flex:1 0 6%;
  }
  .body-panel {
    flex-direction: column;
  }
} 

@media only screen and ( max-width: 950px) {
  .body-panel {
    max-width: 100%;
  }

  #title {
    width: 75%;
    margin: auto;
  }
}
@media only screen and (max-width: 1120px) {
  .logo {
    width: 100px;
  }
}
